<span id="reload-header" data-reload-value="true" style="{display:none}"></span>
<ul class="breadcrumb">
<li>
<a href="{{ path('MTIMusicAndMeBundle_homepage') }}">Music &amp; Me</a> <span class="divider">/</span>
</li>
<li class="active">Mon Compte</li>
</ul>
<section id="login">
Hello {{ user_name }} !
</section>

