/* @group Fonts */

@font-face {
	font-family: tr2n;
	src: url('/fonts/tr2n.ttf') format("truetype");
}

/* @end */

/* @group General */

body {
	/*color: #515151;*/
	/*background: #fff url(/images/main_bg.png);*/
	background: #fff;
	font: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	padding-bottom: 80px;
}

/*.overlay {
	display: block;
	padding: 0;
	margin: 0;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	position: fixed;
	overflow: hidden;
	z-index: 10000;
}*/


/* @end */

/* @group Gradients */

/*.black-gradient {
	background-color: #000;
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#555), to(#333));
	background-image: -webkit-linear-gradient(top, #353535, #222);
	background-image:    -moz-linear-gradient(top, #222, #000);
	background-image:     -ms-linear-gradient(top, #222, #000);
	background-image:      -o-linear-gradient(top, #222, #000);
}*/

/*.gray-gradient {
	background-color: #ccc;
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ccc), to(#999));
	background-image: -webkit-linear-gradient(top, #ccc, #999);
	background-image:    -moz-linear-gradient(top, #ccc, #999);
	background-image:     -ms-linear-gradient(top, #ccc, #999);
	background-image:      -o-linear-gradient(top, #ccc, #999);
}*/

/* @end */

/* @group Navigation */

header {
	/*padding: 20px;
	color: #fff;
	background-color: #000;
	margin-bottom: 20px;*/
}

/*.logo {
	color: white !important;
	font: 22px tr2n !important;
}*/

/* @end */

/* @group Contents */



/* @end */

/* @group Footer */

/* @group Player */

#player {
	height: 50px;
}

#player .progress {
	vertical-align: bottom;
	margin: 10px;
}

/* @end */

/*footer {
	position: fixed;
	bottom: 0;
	width: 100%;
}

footer > div {
	padding: 20px;
}*/

/* @end */

/* @group Sign Up */



/* @end */

/* @group Forms */

/*form {
	width: 350px;
	text-align: right;
	margin: 50px auto 50px;
	color: #f8f8f8;
	padding: 40px 40px 20px;
	background-color: rgba(0,0,0,0.80);
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	
	-moz-box-shadow: 10px 10px 5px #888;
	-webkit-box-shadow: 0px 0px 5px #888;
	box-shadow: 0px 2px 1px #000;
}

form .title {
	font-size: 35px;
	text-align: center;
	font-weight: bold;
	margin-bottom: 50px;
}

form label {
	float: left;
}

form input {
	width: 200px;
}

input[type="submit"] {
	margin-top: 20px;
}*/

/* @group Errors */

/*.form-errors {
	color: #ff161a;
	margin: 0 0 6px;
}*/

/*.form-errors ul {
	text-align: left;
	-webkit-margin-before: 0;
	-webkit-margin-after: 0;
	-webkit-padding-start: 0;
}*/

/*.form-errors li {
	list-style-type: none;
	font-weight: bold;
}*/

/* @end */

/*form > div > div {
	margin-bottom: 30px;
}*/

/*#validate-container {
	text-align: center;
}*/

/* @end */

/* @group Spinner */

div.spinner {
	position: relative;
	width: 14px;
	height: 14px;
	display: inline-block;
	vertical-align: middle;
}

div.spinner div {
	width: 12%;
	height: 26%;
	background: #000;
	position: absolute;
	left: 44.5%;
	top: 37%;
	opacity: 0;
	-webkit-border-radius: 50px;
	-webkit-box-shadow: 0 0 3px rgba(0,0,0,0.2) !important;
	-webkit-animation: fade 1s linear infinite;
}

div.spinner div.bar1 {
	-webkit-transform:rotate(0deg) translate(0, -142%);
	-webkit-animation-delay: 0s;
}
div.spinner div.bar2 {
	-webkit-transform:rotate(30deg) translate(0, -142%);
	-webkit-animation-delay: -0.9167s;
}
div.spinner div.bar3 {
	-webkit-transform:rotate(60deg) translate(0, -142%);
	-webkit-animation-delay: -0.833s;
}
div.spinner div.bar4 {
	-webkit-transform:rotate(90deg) translate(0, -142%);
	-webkit-animation-delay: -0.75s;
}
div.spinner div.bar5 {
	-webkit-transform:rotate(120deg) translate(0, -142%);
	-webkit-animation-delay: -0.667s;
}
div.spinner div.bar6 {
	-webkit-transform:rotate(150deg) translate(0, -142%);
	-webkit-animation-delay: -0.5833s;
}
div.spinner div.bar7 {
	-webkit-transform:rotate(180deg) translate(0, -142%);
	-webkit-animation-delay: -0.5s;
}
div.spinner div.bar8 {
	-webkit-transform:rotate(210deg) translate(0, -142%);
	-webkit-animation-delay: -0.41667s;
}
div.spinner div.bar9 {
	-webkit-transform:rotate(240deg) translate(0, -142%);
	-webkit-animation-delay: -0.333s;
}
div.spinner div.bar10 {
	-webkit-transform:rotate(270deg) translate(0, -142%);
	-webkit-animation-delay: -0.25s;
}
div.spinner div.bar11 {
	-webkit-transform:rotate(300deg) translate(0, -142%);
	-webkit-animation-delay: -0.1667s;
}
div.spinner div.bar12 {
	-webkit-transform:rotate(330deg) translate(0, -142%);
	-webkit-animation-delay: -0.0833s;
}

@-webkit-keyframes fade {
	from {opacity: 1;}
	to {opacity: 0.25;}
}

/* @end */

/* @group Alignments */

/*.center {
	text-align: center;
}*/



/* @end */

/* @group Stream */

.create-stream {
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fff), to(#f5f5f5));
	background-image: -webkit-linear-gradient(top, #fff, #f5f5f5);
	background-image:    -moz-linear-gradient(top, #fff, #f5f5f5);
	background-image:     -ms-linear-gradient(top, #fff, #f5f5f5);
	background-image:      -o-linear-gradient(top, #fff, #f5f5f5);
}

#stream-musics td, #stream-musics th, {
	vertical-align: middle;
}

#search-flux td, #search-flux th {
	vertical-align: middle;
}

#stream-musics td:last-child, #stream-musics th:last-child {
	text-align: right !important;
}

#search-flux td:last-child, #search-flux th:last-child {
	text-align: right !important;
}

#stream-musics table tr:first-child {
	font-weight: bold;
}

#stream-musics td li, #stream-musics td ul {
	vertical-align: middle;
}

.multi-cover-table{
  border-collapse:collapse;
  padding:0px;
  margin:0px;
  border:none;
}

.multi-cover-table td{
  padding:1px;
  margin:1px;
  border:none;
}

.multi-cover-table tr{
  border:none;
}

#search_text{

}

#search-zik td, #search-zik th {
	vertical-align: middle;
}

#search-zik td:last-child, #search-zik th:last-child {
	text-align: right !important;
}

#search-zik td li, #search-zik td ul {
	vertical-align: middle;
}
#search-zik img{
	width:35px;
	height:35px;
}
/* @end */

/* @group Alerts */

.alert {
	position: fixed;
	top: 50px;
	width: 1119px;
	z-index: 1000;
}



/* @end */

/* @group Images */

table img.thumbnail {
	width: 40px;
	height: 40px;
}



/* @end */
