{% extends 'MTIMusicAndMeBundle:BaseHTML:base.html.twig' %}

{% block title %}{{ parent() }} - Créer un compte{% endblock %}

{% block content %}
	<form action="">
		{{ form_widget(form) }}
	</form>
{% endblock %}
