<!DOCTYPE html>
<html>
	<head>
		<title>{% block title %}Music &amp; Me{% endblock %}</title>
		{% stylesheets
		    '@MTIMusicAndMeBundle/Resources/public/css/*'
		%}
		<link rel="stylesheet" href="{{ asset_url }}" />
		{% endstylesheets %}
	</head>
	<body>
		<header class="black-gradient">
		{% block header %}
			<img src="{{ asset('images/logo.png') }}" />
		{% endblock %}
		</header>
		<div class="contents">
		{% block content %}{% endblock %}
		</div>
		<footer class="gray-gradient">{% block footer %}
			<div>
				<div class="player">
					<span class="black-gradient" style="width: 50%;"></span>
				</div>
			</div>
		{% endblock %}</footer>
	</body>
</html>
