{% extends 'MTIMusicAndMeBundle:BaseHTML:base.html.twig' %}

{% block content %}
	<ul class="breadcrumb">
		<li>
			<a href="{{ path('MTIMusicAndMeBundle_homepage') }}">Music &amp; Me</a> <span class="divider">/</span>
		</li>
		<li class="active">Recherche de flux<span class="divider">></span><span id="search_text">{{ toSearch }}</span></li>
	</ul>
	<section id="search-flux">

		<div>
			<h3>&ensp;</h3>
		</div>
		<table class="table">
			<tbody>
				<tr>
					<td>
					    <div class="multi-cover">
					      <table class="multi-cover-table">
						<tr>
						  <td><img class="multi-cover-img" src="../images/cover_thumb.jpg" alt=""></td>
						  <td><img class="multi-cover-img" src="../images/cover_thumb.jpg" alt=""></td>
						</tr>
						<tr>
						  <td><img class="multi-cover-img" src="../images/cover_thumb.jpg" alt=""></td>
						  <td><img class="multi-cover-img" src="../images/cover_thumb.jpg" alt=""></td>
						</tr>
					      </table>
					    </div>
					</td>
					<td>Lorem Ipsum</td>
					<td><span class="label label-important">12</span></td>
					<td>
						<div class="btn btn-primary tip" data-placement="bottom" rel="popover" data-original-title="Écouter !"><i class="icon-play icon-white"></i></div>
					</td>
				</tr>
				<tr>
					<td>
					    <div class="multi-cover">
					      <table class="multi-cover-table">
						<tr>
						  <td><img class="multi-cover-img" src="../images/cover_thumb.jpg" alt=""></td>
						  <td><img class="multi-cover-img" src="../images/cover_thumb.jpg" alt=""></td>
						</tr>
						<tr>
						  <td><img class="multi-cover-img" src="../images/cover_thumb.jpg" alt=""></td>
						  <td><img class="multi-cover-img" src="../images/cover_thumb.jpg" alt=""></td>
						</tr>
					      </table>
					    </div>
					</td>
					<td>Lorem Ipsum</td>
					<td><span class="label label-important">11</span></td>
					<td>
						<div class="btn btn-primary tip" data-placement="bottom" rel="popover" data-original-title="Écouter !"><i class="icon-play icon-white"></i></div>
					</td>
				</tr>
			</tbody>
		</table>
	</section>
{% endblock %}
