<span id="reload-header" data-reload-value="false" style="{display:none}"></span>
<ul class="breadcrumb">
<li>
<a href="{{ path('MTIMusicAndMeBundle_homepage') }}">Music &amp; Me</a> <span class="divider">/</span>
</li>
<li class="active">Upload</li>
</ul>

<section id="Upload">
	<h2>Upload de musiques</h2>
	<div class="row">
		<div class="span12">
			<form class="form-horizontal" id="form_upload" action="#" method="post" {{ form_enctype(form) }}>
			<fieldset>
			<legend>Choisissez votre musique ou un zip en contenant</legend>
						<div class="controls">
							{{ form_widget(form.file, { 'attr': {'class': 'input-xlarge'}}) }}
						</div>
					<div class="form-actions">
						<button type="submit" class="btn btn-primary">Envoyer</button>
					</div>
			</fieldset>
			</form>
		</div>
	</div>
</section>
