{% extends 'MTIMusicAndMeBundle:BaseHTML:base.html.twig' %}

{% block content %}
	<ul class="breadcrumb">
		<li>
			<a href="{{ path('MTIMusicAndMeBundle_homepage') }}">Music &amp; Me</a> <span class="divider">/</span>
		</li>
		<li class="active">Mes flux</li>
	</ul>
	<section id="my-streams">
		<div class="page-header">
			<h1>{{ stream.name }}</h1>
		</div>
		<div class="row">
			<div class="span12">
			</div>
		</div>
	</section>
{% endblock %}
