{% extends 'MTIMusicAndMeBundle:BaseHTML:base.html.twig' %}

{% block content %}
	<ul class="breadcrumb">
		<li class="active">Music &amp; Me</li>
	</ul>
	<section id="fluidGridSystem">
		<div class="row show-grid">
			<div class="span4">Hello</div>
			<div class="span4">Hello</div>
			<div class="span4">Hello</div>
		</div>
	</section>
{% endblock %}
